@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
    font-size: 2.5rem;
}



img {
    cursor: pointer;
}
/* img:hover {
    filter: brightness(0.5);
     */
/* } */

img:hover .message {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

div.img:hover p.message {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    cursor: pointer;
}
